
<!DOCTYPE html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Title Page</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="main.css">
    </head>
    <body>
        <div id="shopping-list">
            <h1>{{ header || 'Welcome' }}</h1>
            <ul>
                <!-- <li v-for="(item, index) in items" :key="item.id">{{ index }}  {{ item.label }}</li> -->
                <li v-for="item in items" :key="item.id">{{ item.label }}</li>
                <!-- <li v-for="(item, key) in items" :key="item.id">{{ key }}  {{ item.label }}</li> -->
            </ul>
        </div>
        <script src="https://unpkg.com/vue@next"></script>
        <script>
            const shoppingListApp = Vue.createApp({
                data() {
                    return {
                        header: 'Shopping List App',

                        // items: {
                        //     'item-1': { id: 1, label: '10 party hats' },
                        //     'item-2': { id: 2, label: '20 board games' },
                        //     'item-3': { id: 3, label: '20 cups' }
                        // },

                        items: [
                            { id: 1, label: '10 party hats' },
                            { id: 2, label: '20 board games' },
                            { id: 3, label: '20 cups' }
                        ]
                    }
                }
            })
            .mount('#shopping-list')
        </script>
    </body>
</html>
